In [1]:
#Perform the following operations using Python on the Facebook metrics data sets

In [2]:
import pandas as pd;

In [4]:
data=pd.read_csv('./fb.csv')

In [8]:
data.shape

(500, 19)

In [14]:
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [11]:
#a. Create data subsets

In [12]:
df=data.iloc[1:20]

In [13]:
df.shape

(19, 19)

In [20]:
df1=data.loc[20:100,['Type','like','share','comment']]

In [21]:
df1

       Type   like  share  comment
20    Photo   66.0   12.0        3
21    Photo    0.0    0.0        0
22     Link   16.0    2.0        0
23    Photo   72.0   24.0        0
24   Status   99.0   19.0        3
..      ...    ...    ...      ...
96    Photo   51.0   11.0        3
97    Photo  115.0   26.0        1
98   Status  310.0   61.0        7
99    Photo  328.0   90.0       12
100   Photo    0.0    0.0        0

[81 rows x 4 columns]

In [22]:
df2=data.iloc[20:40,[1,4,5,6,7]]

In [23]:
df2

      Type  Post Weekday  Post Hour  Paid  Lifetime Post Total Reach
20   Photo             1          3   0.0                       2848
21   Photo             7         10   0.0                       1384
22    Link             7         10   0.0                       3454
23   Photo             7          3   0.0                       2723
24  Status             6         10   0.0                       8488
25  Status             6          3   0.0                       8284
26  Status             5         11   0.0                      19552
27   Photo             5          3   0.0                       2478
28   Photo             5          3   0.0                       9560
29   Video             4         11   1.0                      36208
30   Photo             4          2   0.0                       4940
31   Photo             3         10   0.0                       1683
32   Photo             3          3   0.0                       5280
33   Photo             2          9   0.0                       3002
34   Photo             2          3   0.0                       3766
35   Photo             1         11   0.0                       4512
36   Photo             1          3   0.0                       2690
37   Photo             7         10   1.0                      19800
38  Status             7          9   0.0                      17576
39   Photo             7          3   0.0                       3290

In [28]:
df3=data[(data['like']>100) & (data['comment']>20)]

In [29]:
df3

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
30,138895,Photo,2,12,4,2,0.0,4940,9390,385,306,501,5860,2930,273,33,107.0,22.0,162
51,138329,Photo,1,11,1,3,1.0,25248,40125,726,467,863,16132,8608,451,24,285.0,28.0,337
101,137020,Photo,2,10,4,3,0.0,68896,104952,2624,1326,1952,35707,19840,1354,26,1505.0,95.0,1626
105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
142,136013,Status,2,10,3,2,1.0,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
150,135713,Photo,1,10,6,4,0.0,39984,112830,2105,1921,3932,70249,21328,1609,24,302.0,41.0,367
152,135713,Photo,2,10,5,4,1.0,6564,12097,806,602,957,7682,4024,563,47,358.0,49.0,454
158,135700,Photo,2,9,1,10,0.0,5086,9493,622,509,757,6200,3298,489,30,187.0,35.0,252
162,135617,Photo,3,9,6,10,0.0,7512,13633,769,614,951,5503,3260,530,22,290.0,98.0,410
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
172,135195,Status,2,9,1,10,0.0,21256,41906,4840,4754,5906,35455,17592,4318,38,163.0,27.0,228
176,135195,Photo,3,9,6,3,1.0,22304,37159,1805,984,1618,22864,13304,1349,29,1047.0,98.0,1174
199,132817,Photo,3,8,4,10,0.0,33536,64850,1954,1016,1678,50076,24448,1564,33,1155.0,102.0,1290
228,131728,Photo,2,7,4,3,0.0,14824,21863,868,591,966,13498,8560,650,64,367.0,25.0,456
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
268,128032,Photo,1,7,5,3,0.0,6408,11881,909,861,14974,7243,4040,490,26,162.0,7.0,195
272,127082,Photo,1,7,3,3,1.0,76096,94644,2889,2495,4596,31096,19744,1276,22,534.0,31.0,587
277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271
288,126141,Photo,1,6,4,12,0.0,20896,29062,1418,1038,2048,19738,13656,998,103,469.0,33.0,605
338,119198,Photo,3,5,5,10,1.0,6460,11373,823,706,1197,6279,3612,505,25,244.0,44.0,313
339,117764,Photo,1,5,4,10,0.0,18056,32576,1062,875,1389,26514,14728,701,25,307.0,58.0,390
346,117764,Photo,3,5,7,2,0.0,38960,65149,2298,1702,3000,57722,34368,1978,37,821.0,90.0,948
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
359,116091,Photo,3,5,7,2,0.0,6984,12066,780,631,1116,8188,4776,570,25,256.0,54.0,335
370,113028,Photo,1,4,6,14,0.0,28352,55202,1476,1242,1990,47899,24512,1185,45,407.0,76.0,528
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
480,86909,Photo,2,1,4,11,0.0,11484,20696,1762,1635,2741,8774,5124,722,56,360.0,99.0,515
488,85979,Photo,3,1,7,10,0.0,9700,17442,1407,1271,2007,8872,4876,660,21,277.0,80.0,378

In [30]:
#b. Merge Data

In [33]:
df4=pd.merge(df3,df2,on="Type")

In [34]:
df4

,Page total likes,Type,Category,Post Month,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions,Lifetime Engaged Users,...,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,Post Weekday_y,Post Hour_y,Paid_y,Lifetime Post Total Reach_y
0,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,32048,1386,58,1572.0,147.0,1777,1,3,0.0,2848
1,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,32048,1386,58,1572.0,147.0,1777,7,10,0.0,1384
2,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,32048,1386,58,1572.0,147.0,1777,7,3,0.0,2723
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,32048,1386,58,1572.0,147.0,1777,5,3,0.0,2478
4,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,32048,1386,58,1572.0,147.0,1777,5,3,0.0,9560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,135195,Status,2,9,1,10,0.0,21256,41906,4840,...,17592,4318,38,163.0,27.0,228,6,10,0.0,8488
397,135195,Status,2,9,1,10,0.0,21256,41906,4840,...,17592,4318,38,163.0,27.0,228,6,3,0.0,8284
398,135195,Status,2,9,1,10,0.0,21256,41906,4840,...,17592,4318,38,163.0,27.0,228,5,11,0.0,19552
399,135195,Status,2,9,1,10,0.0,21256,41906,4840,...,17592,4318,38,163.0,27.0,228,7,9,0.0,17576
400,126424,Video,1,6,2,13,0.0,139008,277100,1779,...,38720,1008,23,204.0,44.0,271,4,11,1.0,36208

In [35]:
#c. Sort Data

In [42]:
df3.sort_values(by=['share'],ascending='false')

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
268,128032,Photo,1,7,5,3,0.0,6408,11881,909,861,14974,7243,4040,490,26,162.0,7.0,195
30,138895,Photo,2,12,4,2,0.0,4940,9390,385,306,501,5860,2930,273,33,107.0,22.0,162
228,131728,Photo,2,7,4,3,0.0,14824,21863,868,591,966,13498,8560,650,64,367.0,25.0,456
172,135195,Status,2,9,1,10,0.0,21256,41906,4840,4754,5906,35455,17592,4318,38,163.0,27.0,228
51,138329,Photo,1,11,1,3,1.0,25248,40125,726,467,863,16132,8608,451,24,285.0,28.0,337
272,127082,Photo,1,7,3,3,1.0,76096,94644,2889,2495,4596,31096,19744,1276,22,534.0,31.0,587
288,126141,Photo,1,6,4,12,0.0,20896,29062,1418,1038,2048,19738,13656,998,103,469.0,33.0,605
158,135700,Photo,2,9,1,10,0.0,5086,9493,622,509,757,6200,3298,489,30,187.0,35.0,252
150,135713,Photo,1,10,6,4,0.0,39984,112830,2105,1921,3932,70249,21328,1609,24,302.0,41.0,367
338,119198,Photo,3,5,5,10,1.0,6460,11373,823,706,1197,6279,3612,505,25,244.0,44.0,313
277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271
152,135713,Photo,2,10,5,4,1.0,6564,12097,806,602,957,7682,4024,563,47,358.0,49.0,454
359,116091,Photo,3,5,7,2,0.0,6984,12066,780,631,1116,8188,4776,570,25,256.0,54.0,335
339,117764,Photo,1,5,4,10,0.0,18056,32576,1062,875,1389,26514,14728,701,25,307.0,58.0,390
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
370,113028,Photo,1,4,6,14,0.0,28352,55202,1476,1242,1990,47899,24512,1185,45,407.0,76.0,528
488,85979,Photo,3,1,7,10,0.0,9700,17442,1407,1271,2007,8872,4876,660,21,277.0,80.0,378
142,136013,Status,2,10,3,2,1.0,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
346,117764,Photo,3,5,7,2,0.0,38960,65149,2298,1702,3000,57722,34368,1978,37,821.0,90.0,948
101,137020,Photo,2,10,4,3,0.0,68896,104952,2624,1326,1952,35707,19840,1354,26,1505.0,95.0,1626
176,135195,Photo,3,9,6,3,1.0,22304,37159,1805,984,1618,22864,13304,1349,29,1047.0,98.0,1174
162,135617,Photo,3,9,6,10,0.0,7512,13633,769,614,951,5503,3260,530,22,290.0,98.0,410
480,86909,Photo,2,1,4,11,0.0,11484,20696,1762,1635,2741,8774,5124,722,56,360.0,99.0,515
199,132817,Photo,3,8,4,10,0.0,33536,64850,1954,1016,1678,50076,24448,1564,33,1155.0,102.0,1290
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

In [43]:
#d. Transposing Data

In [46]:
df1_transposed=df3.T

In [48]:
df1_transposed

,3,28,30,51,101,105,142,150,152,158,...,338,339,346,349,359,370,379,460,480,488
Page total likes,139441,138895,138895,138329,137020,137020,136013,135713,135713,135700,...,119198,117764,117764,117764,116091,113028,111620,92507,86909,85979
Type,Photo,Photo,Photo,Photo,Photo,Photo,Status,Photo,Photo,Photo,...,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,2,1,2,1,2,1,2,2,...,3,1,3,3,3,1,3,3,2,3
Post Month,12,12,12,11,10,10,10,10,10,9,...,5,5,5,5,5,4,4,2,1,1
Post Weekday,2,5,4,1,4,2,3,6,5,1,...,5,4,7,5,7,6,1,1,4,7
Post Hour,10,3,2,3,3,4,2,4,4,10,...,10,10,2,13,2,14,14,13,11,10
Paid,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Lifetime Post Total Reach,50128,9560,4940,25248,68896,70144,31136,39984,6564,5086,...,6460,18056,38960,81856,6984,28352,105632,55520,11484,9700
Lifetime Post Total Impressions,87991,18264,9390,40125,104952,111745,59964,112830,12097,9493,...,11373,32576,65149,124753,12066,55202,147918,665792,20696,17442
Lifetime Engaged Users,2211,973,385,726,2624,3216,6164,2105,806,622,...,823,1062,2298,3000,780,1476,3984,4544,1762,1407
Lifetime Post Consumers,790,559,306,467,1326,2628,5934,1921,602,509,...,706,875,1702,1637,631,1242,2254,3586,1635,1271
Lifetime Post Consumptions,1119,885,501,863,1952,4782,9237,3932,957,757,...,1197,1389,3000,2718,1116,1990,3391,6624,2741,2007
Lifetime Post Impressions by people who have liked your Page,61027,9217,5860,16132,35707,43671,35977,70249,7682,6200,...,6279,26514,57722,52477,8188,47899,48575,648611,8774,8872
Lifetime Post reach by people who like your Page,32048,4748,2930,8608,19840,20608,18048,21328,4024,3298,...,3612,14728,34368,27392,4776,24512,27328,47488,5124,4876
Lifetime People who have liked your Page and engaged with your post,1386,621,273,451,1354,1542,4376,1609,563,489,...,505,701,1978,1756,570,1185,1936,3430,722,660
comment,58,36,33,24,26,42,60,24,47,30,...,25,25,37,45,25,45,51,146,56,21
like,1572.0,523.0,107.0,285.0,1505.0,955.0,859.0,302.0,358.0,187.0,...,244.0,307.0,821.0,1639.0,256.0,407.0,1998.0,1546.0,360.0,277.0
share,147.0,63.0,22.0,28.0,95.0,139.0,90.0,41.0,49.0,35.0,...,44.0,58.0,90.0,122.0,54.0,76.0,128.0,181.0,99.0,80.0
Total Interactions,1777,622,162,337,1626,1136,1009,367,454,252,...,313,390,948,1806,335,528,2177,1873,515,378

In [49]:
#e. Shape and reshape Data

In [53]:
series_obj=pd.Series(df1['like'])

In [54]:
arr=series_obj.values

In [57]:
arr.reshape((9,9))

array([[ 66.,   0.,  16.,  72.,  99.,  88., 412., 100., 523.],
       [143., 107.,  27., 155.,  98.,  56., 172.,  96.,  76.],
       [227.,  44., 216., 187.,  26.,  29.,  47.,  57., 174.],
       [ 18.,  77.,  12.,  48., 285., 202.,  64.,  66.,  65.],
       [164.,  40.,  76., 139., 101., 144., 179., 219.,  60.],
       [ 77.,  48., 697.,  53.,  84., 146., 449., 226., 172.],
       [ 99., 411.,   0.,  85.,  56.,  29.,  86., 370., 190.],
       [101.,  99., 140., 130., 270.,  30., 107., 331.,  78.],
       [301., 111., 124., 153.,  51., 115., 310., 328.,   0.]])